name: Build Android APK

on:
  push:
    branches: [ "master" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build Debug APK
        run: ./gradlew :app:assembleDebug
        
      - name: Build Release AAB
         run: ./gradlew :app:bundleRelease

      - name: Upload APK artifact
        uses: actions/upload-artifact@v4
        with:
          name: app-debug-apk
          path: app/build/outputs/apk/debug/*.apk
      - name: Upload AAB
         uses: actions/upload-artifact@v4
         with:
              name: playstore-aab
              path: app/build/outputs/bundle/release/app-release.aab

